In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/adult.data.csv')

In [ ]:
df

,age,workclass,fnwgt,education,education-num,matrial-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
race_counts = df['race'].value_counts()
race_counts

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [ ]:
#What is the average age of men?
avg_age_men = round(df[df['sex']=='Male']['age'].mean(),1)
avg_age_men

np.float64(39.4)

In [ ]:
#What is the percentage of people who have a Bachelor's degree?
perc_bach = round((df['education']=='Bachelors').mean() * 100 ,1)
perc_bach

np.float64(16.4)

In [ ]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = round((higher_education['salary'] == '>50K').mean() * 100, 1)
higher_education_rich

np.float64(46.5)

In [ ]:
#What percentage of people without advanced education make more than 50K?
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_rich = round((lower_education['salary'] == '>50K').mean() * 100, 1)
lower_education_rich

np.float64(17.4)

In [ ]:
#What is the minimum number of hours a person works per week?
min_hours = df['hours-per-week'].min()
min_hours

1

In [ ]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min_hours_sal = df[df['hours-per-week']== min_hours]
min_hours_sal_perc = round((min_hours_sal['salary']=='>50K').mean() * 100 ,1)
min_hours_sal_perc

np.float64(10.0)

In [ ]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
country_percentages = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()) * 100
highest_earning_country = country_percentages.idxmax()
highest_earning_country_percentage = round(country_percentages.max(), 1)
highest_earning_country_percentage

41.9

In [ ]:
#Identify the most popular occupation for those who earn >50K in India.
india_50k = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
top_IN_occupation = india_50k['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'